<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
</head>
<FRAMESET>
<FRAMESET rows>
    <FRAME src="https://documenter.getpostman.com/view/13246655/TVYGbcxp">
</FRAMESET>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraper API Documentation</title>
      <meta http-equiv = "refresh" content = "0; url = https://documenter.getpostman.com/view/13246655/TVYGbcxp" />
  </head>
  <body>
      <h1>Web Scraper API Documentation</h1><br>
    <p>If redirect did not occur, please follow <a href="https://documenter.getpostman.com/view/13246655/TVYGbcxp">this link to see documentation.</a>.</p>
  </body>
</html>